<a href="https://colab.research.google.com/github/C-Lion/HU-DS-BC/blob/main/Exit_Ticket_Print_and_DTypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Types in Python

This notebook is aimed at shedding some light on the different data types in Python. This shall form a strong foundation for your programming and Data Science journey.

## Numeric Data Type

You can check the data type of an object using the `type()` command.
The syntax looks like this: `type(variableName)`

### Your turn now.
Store the following into three different objects and check their data types:
* 2
* 1086J
* 3.14567

In [57]:
# Create an object with a value of 2
integer_two = int(2)

# Check the data type
type(integer_two)

int

In [58]:
# Create an object with a value of 1086J
password = "1086J"

# Check the data type
type(password)

str

In [59]:
# Create an object with a value of 3.14567
pi = float(3.14567)

# Check the data type
type(pi)

float

## String Data Type

String Data type usually is used to store text. The data to be stored in this data type is enclosed between single ('') or double ("") quotes.
Recall that you printed your name in the previous Notebook. That was string data type.
Let's look at an example.

In [60]:
# Printing your name
My_Name = "Esther"

# Check the results of the My_Name variable
My_Name

'Esther'

In [61]:
# Check the data type of the My_Name variable
type(My_Name)

str

You can combine string methods with print statements to request information from a user. This uses the `input` statement and gives users a blinking cursor to enter information.

Complex print statements are also possible where it prints string text, the contents of a variable, and even perform small operations in the statement and return the results. In the example below we will create a variable called `my_name` and use the input method to ask the user to input their name. From there we can print a statement saying hello, the user's entered name, and some punctuation. In the next print statement we can use the `type()` method to print the data type of the variable `my_name`.

In [62]:
# Your turn to play around now.
# Use the input statement to ask a user to enter their name
# Syntax looks like this: descriptiveVariableName = input("Question to be asked? ")
user_name = input("Please enter your first name: ")

# Use a print statement to check your input. Add a greeting to your statement.
# Syntax looks like this: print("Greeting", descriptiveVariableName, "!")
print("Greeting", user_name, "!")

# Now use a print statement to tell the user the data type.
# Syntax looks like this: print("Your name is a ",type(descriptiveVariableName))
print("Your name is a", type(user_name))

Please enter your first name: Esther
Greeting Esther !
Your name is a <class 'str'>

Various functions can be performed using strings like searching within a string, conversion to lowercase/uppercase, count, length, splitting, replacing, trimming, partitioning etc.

In [63]:
# Let's check how many characters does your name contain.
# Syntax: len(variableName)
len(user_name)

6

In [64]:
# Let's see if My_Name is all Caps or not.
# isupper() returns True if all the letters are Capitals, False if atleast one letter in in lower case.
# Syntax: variableName.isupper()
user_name.isupper()

False

In [65]:
# Let's convert My_Name to all caps.
# Syntax: variableName = variableName.upper()
user_name = user_name.upper()

# Call the variable using the variable name.
user_name

'ESTHER'

In [66]:
# Check the uppercase again,
# Now the output of isupper() changes to True.
user_name.isupper()

True

In [67]:
# Your turn to try it now.
# Write a sentence and store it into an object.
# Don't forget quotation marks for strings
new_sentence= "Learning Data Science can be frustrating but it's worth it!"

# Use a print statement to view your new_sentence
print(new_sentence)
# Use the .upper() method in a print statement to print the upper case sentence
# HINT: Use a print statement, your variable name, and the .upper() method
print(new_sentence.upper())

# Use the .capitalize() method to print the sentence with the first word capitalized.
print(new_sentence.capitalize())

# Use the .title() method to print the sentence with the first letter of each word capitalized.
print(new_sentence.title())

Learning Data Science can be frustrating but it's worth it!
LEARNING DATA SCIENCE CAN BE FRUSTRATING BUT IT'S WORTH IT!
Learning data science can be frustrating but it's worth it!
Learning Data Science Can Be Frustrating But It'S Worth It!

In [68]:
# Check the data type of the object you just created.
type(new_sentence)

str

In [69]:
# Check if it is all caps or not.
# Syntax: variableName.isupper()
new_sentence.isupper()

False

In [70]:
# Challenge - Check if it is all lower case or not.
# Use the example above to complete the challenge question
new_sentence.islower()

False

In [71]:
# Challenge - Convert your object into all caps.
new_sentence = new_sentence.upper()
new_sentence

"LEARNING DATA SCIENCE CAN BE FRUSTRATING BUT IT'S WORTH IT!"

In [72]:
# Challenge - Convert your object into all lower case.
new_sentence.lower()

"learning data science can be frustrating but it's worth it!"

## Boolean Data Type

The boolean data type has just two values, i.e., True or False.

In [73]:
# Create two variables, one with a value of True, one with a value of False
from datetime import date
current_year = date.today().year

boolean_true = current_year == 2025
print(boolean_true)
boolean_false = current_year + 1 == 2024
print(boolean_false)

True
False

In [74]:
# Check the data type of your new variables
# HINT: you can check multiple items by separating the statements with a comma
print(type(boolean_true))
print(type(boolean_false))

<class 'bool'>
<class 'bool'>

## Data Type Conversions

As explained earlier, data should be stored in correct form so that it can be manipulated efficiently later.
Quite a lot of times, data is not stored correctly or it gets imported incorrectly.
In such cases, data needs to be converted to its correct type so that it can be optimally used in our analysis.
Thus, let's look at data type conversion exercises to get you comfortable with the process.

In [75]:
# Create an object containing an integer.
my_integer = 21

In [76]:
# Check the data type of your new object
type(my_integer)

int

In [77]:
# You want to use the value 1 as text. So let's convert it.
# Syntax: variableName = str(variableName)
my_integer = str(my_integer)

In [78]:
# Check the data type of your new object again.
type(my_integer)

str

In [79]:
# Exercise for you. Store the number 123456 as string.
number_as_a_string = "123456"
# Check the data type
type(number_as_a_string)

str

In [80]:
# Let's do the opposite now.
# Create a variable and assign a numeric value as a string
# HINT: Any value inside of quotes is a string
numeric_Value_as_a_string = "21"
# Check the data type of your variable
type(numeric_Value_as_a_string)

str

In [81]:
# Let's learn to convert string to integer now.
# Syntax: variableName = int(variableName)
number_as_an_integer = int(number_as_a_string)
# Check the data type
type(number_as_an_integer)

int

In [83]:
# Let's convert a string to a float.
# Syntax: variableName = float(variableName)
not_a_string_but_a_float = float(numeric_Value_as_a_string)
# Check the data type
print(not_a_string_but_a_float)

21.0

Good job so far!
You can also try converting strings to boolean and vice versa.
You could also try conversions from integers to float and float to integer.

Python is an intuitive language, so by default it stores data into correct formats.
But very often we come across data being stored incorrectly especially while importing.